/* Add here all your CSS customizations */
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.helpIcon{
    cursor: pointer;
    margin: 0 1px 0 10px;
    border-width: 0;
    padding: 5px;
}

.helpIcon:hover {
    border: solid 1px #383f48;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}


#contentDropDown{
    width: 350px;
    position: relative;
    border: solid 1px #CCCCCC;
    padding: 10px 16px;
    height: 46px;
    border-radius: 8px;
    font-size: 18px;
}

#iconDropDown{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

#dropDownContentValues{
    display: none;
    border: solid 1px #CCC;
    width: 520px;
    max-height: 500px;
    position: absolute;
    background-color: #F5F5F5;
    min-height: 40px;
}

#dropDownContentValues tr{
    cursor: pointer;
}

#dropDownContentValues tbody tr:hover{
    background-color: #C6C6C6;
    color: white;
}

#dropDownContentValues .pagination{
    margin: 0 0 0 5px !important;
}

#dropDownContentValues .table{
    margin-bottom: 0 !important;
}


.panel-dark{
    border-color: #111;
}
.panel-dark>.panel-heading {
    color: #fff;
    background-color: #111;
    border-color: #111;
}
.pt0{
    padding-top: 0;
}


.treeview ul { list-style-type: none;  }
.treeview ul li.ui-state-highlight { height: 2.7em; line-height: 2.1em; }
.node-selected{
    color: #FFFFFF;
    background-color: #428bca;
}

#dropDownContentValues table tbody tr td{
    line-height: 28px;
}

.daysActive button.active {
    color: #fff !important;
    background-color: #0088CC !important;
    border-color: #CCCCCC !important;
}

/* Accordion */

#tabPanel .tabHead {
    background-color: #8A8A8A;
    vertical-align: middle;
    padding: 1px 0px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
}

#tabPanel .tab {
    margin-top: 5px;
}

.tabHead p {
    margin: 0px;
}

#tabPanel .tabBody {
    margin-bottom: 10px;
    background-color: #E8E8E8;
}

.tabBody .bodyLayout {
    padding: 10px;
}

.tabBarItem {
        margin: 5px 0px 0px 0px;
}

.tabBarItem label {
    width: 99%;
}

.selectContentText {
    position: relative;
}

.selectContentText .selectControl {
    display: inline-block;
    width: 190px;
    border: 1px solid #CCC;
    color: #000;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}

.selectControl input[type=text] {
    width: 100%;
    padding: 5px;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
}

.selectContentText .iconControl {
    display: inline-block;
}

.selectContentText .iconAddControl {
    display: inline-block;
}

.selectContentText .iconSaveControl {
    display: none;
}

.selectContentText .iconCloseControl {
    display: none;
}

.selectContentText .iconEditControl {
    display: none;
}

.selectContentText .iconDeleteControl {
    display: none;
}

.selectContentText .icSelect {
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.selectContentText .panelLoading {
    display: none;
    margin-left: 10px;
    vertical-align: top;
}

.selectContentText .descriptionCategory {
    display: none;
    margin-left: 10px;
    vertical-align: middle;
}

.selectContentText .contentSelectCategories {
    position: absolute;
    border: solid 1px #858585;
    padding: 5px;
    background-color: #E8E8E8;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    overflow-y: auto;
}

.contentSelectCategories .itemSelect {
    display: block;
    padding: 2px;
    cursor: pointer;
}

.contentSelectCategories .itemSelect:hover {
    font-weight: bold;
}

.bodyLayout  .panelVariables {
    position: relative;
    margin-top: 10px;
}

.panelVariables .manageControls {
    position: relative;
}

.manageControls div {
    margin: 0px 1px 0px 2px;
    display: inline-block;
}

.iconVariableControl {
    cursor: pointer;
    margin: 0px 1px 0px 6px !important;
}

.tableManage .iconActions {
    margin-left: 10px;
    cursor: pointer;
}

.panelVariables {
    margin-top: 10px;
}

.tableAssign td {
    vertical-align: middle !important;
}

.modalPlugin {
    position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
    -ms-opacity: 0.9;
    opacity: 0.9;
  z-index:10000;
  visibility: hidden;
}

.modalPlugin span {
    font-weight: bolder;
    color: white;
}

.frameMiddle{
    padding: 0;
    display: block;
    position: fixed;
    left: 100px;
    top: 50px;
}

.frameContent{
    width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}

.frameContent select {
    width: 290px;
}

.categoryPlug{

}

.variablePlug{
  
}

.plugInsertCatVar {
    position: relative;
    display: inline-block;
    background-color: #70BCE2;
    color: black;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
}

.closePluginItem {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -7px;
    border: solid 1px black;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: #FE7402;
    font-weight: bolder;
    background-color: black;
}

.circle-green
{
  width: 12px;
  height: 12px;
  border: solid 1px #E4FAD5;
  border-radius: 50%;
  background-color: #68C32B;
}

.circle-red
{
  width: 12px;
  height: 12px;
  border: solid 1px #FFC1B4;
  border-radius: 50%;
  background-color: #FF5B38;
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

.blink-layer {
    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
    animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}


.tableAdminDevices tbody td
{
    text-align: center;
    vertical-align: middle !important;
}

.tableAdminDevices tbody td>div
{
    margin: 0 auto;
}

.tableAdminDevices thead th
{
    text-align: center;
}

.tableExtensions tbody td
{
    text-align: center;
    vertical-align: middle !important;
}

.tableExtensions tbody td>div
{
    margin: 0 auto;
}

.tableExtensions thead th
{
    text-align: center;
}