<div class="panel panel-dark">
    <div class="panel-heading">Create rules for your operator</div>
    <div class="panel-body pt0">
        <div class="well well-sm row clearfix">

            <div class="col-md-12">
                <div class="pull-right">
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Creates a new logic" type="button" class="btn btn-sm btn-default btn-nuevo"><i class="glyphicon glyphicon-file"></i> New</button>
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Aqui va la descripcion" type="button" class="btn btn-sm btn-default btn-expcol"><i class="glyphicon glyphicon-sort-by-attributes"></i> Expand/Collapse</button>
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Aqui va la descripcion" type="button" class="btn btn-sm btn-default btn-testit"><i class="fa fa-rocket"></i> Test it</button>
                    
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Aqui va la descripcion" type="button" class="btn btn-sm btn-default btn-cargar"><i class="glyphicon glyphicon-folder-open"></i> Load</button>
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Aqui va la descripcion" type="button" class="btn btn-sm btn-default btn-guardar"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Aqui va la descripcion" type="button" class="btn btn-sm btn-default btn-guardarcomo"><i class="glyphicon glyphicon-floppy-disk"></i> Save as</button>
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Aqui va la descripcion" type="button" class="btn btn-sm btn-default btn-descargar"><i class="glyphicon glyphicon-download-alt"></i> Download</button>
                    <button data-plugin-tooltip data-toggle="tooltip" data-placement="top" title="Aqui va la descripcion" type="button" class="btn btn-sm btn-primary btn-tour"><i class="glyphicon glyphicon-question-sign"></i> Help</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="treeview">

                </div>
            </div>
        </div>
    </div>
</div>
